main {
  position: relative;
  flex-grow: 1;
  min-width: 0;
  padding: 0 var(--space-5) var(--space-5);
}

.bg-gray {
  background-color: var(--bg-light);
}
.bg-white {
  background-color: var(--bg-white);
}

[data-device='pc'] {
  main {
    padding: 0 var(--space-10) var(--space-10);
    min-height: calc(100vh - 89px);
  }
}
