:root {
  // breakpoints size use radix ui
  --breakpoint-xs: 520px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1640px;
  // z-index
  --z-index-header: 1001;
  --z-index-skip-nav: 1002;
  --width-container: 1400px;
}
